<div class="jumbotron">
	<center>
		
		<h1>It'sah Pizzah!</h2>

		<img src="http://blog.nj.com/hobokennow_impact/2009/03/large_mariopizza.jpg" alt="Jumbotron Pizza">

		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-success" %>
	</center>
</div>